.AddPetitionPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.AddPetitionHeader {
    font-size: 4em;
    margin: 0;
}

.AddPetitionForm {
    display: flex;
    font-family: Inter, sans-serif;
    flex-direction: column;
    width: 80%;
    max-width: 900px;
}

.AddPetitionForm label {
    font-weight: 550;
    font-size: 1.2em;
    margin-top: 1em;
}

.AddPetitionForm select, input, textarea {
    font-family: Inter, sans-serif;
    font-size: 0.8em;
}

.PetitionSubmit {
    margin-top: 1em;
    font-size: 2em;
    font-family: Inter, sans-serif;
    font-weight: 800;
    padding: 0.25em;
    background-color: #C82D2D;
    color: white;
    border: none;
}

@media (prefers-color-scheme: dark) {
    .AddPetitionForm select, input, textarea {
        background-color: #000;
        border: 1px solid white;
        color: white;
    }
}