.AddPetition {
    background-color: #C82D2D;
    border: none;
    font-family: Inter, sans-serif;
    font-size: 2em;
    font-weight: 800;
    color: white;
    padding: 10px 60px;
    margin-top: 1em;
    cursor: pointer;
}