.PetitionInfo {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 95vh;
    width: 100vw;
}

.PetitionHeaderDiv {
    display: flex;
    flex-direction: column;
    padding: 1% 10% 2%;
    width: 80%;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
}

.PetitionInfoTitle {
    display: flex;
    flex-direction: column;
    font-size: 3em;
}

.ActionDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.signaturesCount {
    font-size: 1em;
    margin: 0;
}

.ButtonBack {
    background-color: #888080;
    border: none;
    font-family: Inter, sans-serif;
    font-size: 1.5em;
    font-weight: 800;
    color: white;
    padding: 0.2em 40px;
    cursor: pointer;
    text-decoration: none;
    align-self: flex-start;
}

.ButtonsSign {
    background-color: #C82D2D;
    border: none;
    font-family: Inter, sans-serif;
    font-size: 2em;
    font-weight: 800;
    color: white;
    padding: 0.2em 60px;
    cursor: pointer;
    text-decoration: none;
    align-self: flex-start;
}

.Text {
    padding: 0 10% 0;
    overflow-x: hidden;
    overflow-y: scroll;
    text-overflow: clip;
}