.PetitionInfo {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 95vh;
    width: 100vw;
}

.PetitionHeaderDiv {
    display: flex;
    flex-direction: column;
    padding: 1% 10% 2%;
    width: 80%;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
}

.PetitionInfoTitle {
    display: flex;
    flex-direction: column;
    font-size: 3em;
}

.ActionDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ActionDivButtons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.signaturesCount {
    font-size: 1em;
    margin: 0;
}

.ButtonBack {
    background-color: #888080;
    border: none;
    font-family: Inter, sans-serif;
    font-size: 1.5em;
    font-weight: 800;
    color: white;
    padding: 0.2em 40px;
    cursor: pointer;
    text-decoration: none;
    align-self: flex-start;
}

.ButtonsSign {
    background-color: #C82D2D;
    border: none;
    font-family: Inter, sans-serif;
    font-size: 2em;
    font-weight: 800;
    color: white;
    padding: 0.2em 60px;
    cursor: pointer;
    text-decoration: none;
    align-self: flex-start;
}

.ButtonsSigned {
    background-color: rgba(0, 0, 0, 0.25);
    border: none;
    font-family: Inter, sans-serif;
    font-size: 2em;
    font-weight: 800;
    color: white;
    padding: 0.2em 60px;
    cursor: pointer;
    text-decoration: none;
    align-self: flex-start;
}

.ButtonsShare {
    background-color: #1274a8;
    border: none;
    font-family: Inter, sans-serif;
    font-size: 2em;
    font-weight: 800;
    color: white;
    padding: 0.2em 60px;
    cursor: pointer;
    text-decoration: none;
    align-self: flex-start;
}

.ButtonsAlert {
    background-color: #C82D2D;
    border: none;
    font-family: Inter, sans-serif;
    font-size: 2em;
    font-weight: 800;
    color: white;
    padding: 0.2em 60px;
    cursor: pointer;
    text-decoration: none;
    align-self: flex-start;
}

.Text {
    padding: 0 10% 5%;
    overflow-x: hidden;
    overflow-y: scroll;
    text-overflow: clip;
}

@media (prefers-color-scheme: dark) {
    .PetitionHeaderDiv {
        box-shadow: 0px 8px 4px rgba(255, 0, 0, 0.25);
    }

    .ButtonsSigned {
        background-color: rgba(255, 255, 255, 0.25);
    }

    .ButtonsAlert {
        background-color: rgba(255, 0, 0, 0.41);
    }
}

@media (max-width: 820px) {
    .PetitionHeaderDiv {
        padding: 1% 5% 2%;
        width: 90%;
    }

    .PetitionInfoTitle {
        font-size: 2em;
    }

    .ActionDivButtons {
        display: inline-block;
    }

    .ActionDivButtons > * {
        margin-bottom: 0.5em;
        margin-right: 0.5em;
    }

    .ButtonsSign, .ButtonsSigned, .ButtonsShare, .ButtonsAlert {
        font-size: 1.2em;
        padding: 0.2em 20px;
    }

    .ButtonBack {
        font-size: 1.2em;
        padding: 0.2em 20px;
    }

    .Text {
        padding: 0 5% 5%;
    }
}