.PetitionsDiv {

}

.Petition {
    background-color: #D9D9D9;
    padding: 30px;
    margin-bottom: 60px;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
    min-height: 20em;
    display: flex;
    flex-direction: column;
}

.PetitionsHeader {
    font-size: 2em;
    font-weight: 800;
    margin: 0;
}

.PetitionsText {
}

.Buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: auto;
}

.PetitionsSign {
    background-color: #C82D2D;
    border: none;
    font-family: Inter, sans-serif;
    font-size: 2em;
    font-weight: 800;
    color: white;
    padding: 0.2em 60px;
    cursor: pointer;
}

.PetitionsRefuse {
    background-color: #D2C8C8;
    border: none;
    font-family: Inter, sans-serif;
    font-size: 2em;
    font-weight: 800;
    color: white;
    padding: 0.2em 60px;
    cursor: pointer;
}